<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.ApiInfoMapper">

    <insert id="insertAppApi">
        INSERT INTO app_api (app_id, api_id)
        VALUES (#{appId,jdbcType=BIGINT}, #{apiId,jdbcType=BIGINT})
    </insert>

    <select id="MySelectPage" resultType="com.runjian.auth.server.domain.vo.system.SysApiInfoVO">
        SELECT
            sai.id,
            sai.api_pid,
            sai.api_name,
            sai.api_sort,
            sai.url,
            sai.level
        FROM
            api_info sai
        WHERE
            sai.delete_flag = 0
    </select>

</mapper>
