<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.AppMenuApiMapper">

    <select id="selectByAppType" resultType="com.runjian.auth.server.domain.vo.system.AppMenuApi">
        SELECT
            app.id app_id,
            app.app_name app_name,
            app.app_type app_type,
            menu.id menu_id,
            menu.menu_pid,
            menu.title title,
            menu.app_id menu_app,
            api.id api_id,
            api.api_name,
            api.api_pid

        FROM
            app_info app
                LEFT JOIN menu_info menu ON menu.app_id = app.id
                LEFt JOIN api_info api ON api.api_pid = menu.id
        <where>
            app.delete_flag = 0
            <if test="appType != null">
                AND app.app_type = #{appType,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY app_id
    </select>
</mapper>
