<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.DictInfoMapper">
    <select id="MySelectPage" resultType="com.runjian.auth.server.domain.vo.system.SysDictVO">
        SELECT
            sd.id,
            sd.group_name,
            sd.group_code,
            sd.item_name,
            sd.item_value,
            sd.item_desc
        FROM dict_info sd
        <where>
            sd.delete_flag = 0
            <if test="itemName != null and itemName != ''">
                <bind name="patternItemName" value="'%' + itemName + '%'"/>
                AND sd.item_name LIKE #{patternItemName}
            </if>
            <if test="itemValue != null and itemValue != ''">
                <bind name="patternItemValue" value="'%' + itemValue + '%'"/>
                AND sd.item_value LIKE #{patternItemValue}
            </if>
        </where>
    </select>
</mapper>
