<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.OrgInfoMapper">

    <select id="mySelectOrg" resultType="java.lang.Long">
        WITH RECURSIVE org_info_str AS (
            SELECT id, org_pid, org_name
            FROM org_info
            WHERE id = #{orgId,jdbcType=BIGINT}
            UNION ALL
            SELECT va.id, va.org_pid, CONCAT( ap.org_name, '/', va.org_name ) AS org_name
            FROM org_info va
                INNER JOIN org_info_str ap ON va.org_pid = ap.id
        )
        SELECT ap.id
        FROM org_info_str ap
            JOIN org_info_str va ON ap.id = va.id;
    </select>

    <select id="mySelectListById" resultType="com.runjian.auth.server.domain.vo.system.SysOrgVO">
        WITH RECURSIVE org_path AS (
            SELECT id, org_pid, org_name
            FROM org_info
            WHERE id = #{orgId,jdbcType=BIGINT}
            UNION ALL
            SELECT va.id, va.org_pid, CONCAT(ap.org_name,'/',va.org_name) as org_name
            FROM org_info va
                INNER JOIN org_path ap ON va.org_pid = ap.id
        )
        SELECT va.*
        FROM org_path ap
            JOIN org_info va ON ap.id = va.id
        WHERE va.delete_flag = 0
        ;
    </select>

    <select id="selectOrgInfoByRoleCode" resultType="com.runjian.auth.server.domain.entity.OrgInfo">
        SELECT org.*
        FROM org_info org
            LEFT JOIN role_org sro ON sro.org_id = org.id
            LEFT JOIN role_info sri ON sri.id = sro.role_id
        WHERE sri.role_code = #{roleCode}
    </select>

    <select id="findOrgIdListByRoleId" resultType="java.lang.Long">
        SELECT org_id
        FROM role_org
        WHERE role_org.role_id = #{roleId,jdbcType=BIGINT}
    </select>

    <select id="selectOrgInfoByUserId" resultType="com.runjian.auth.server.domain.vo.system.OrgInfoVO">
        SELECT userInfo.org_id,
        orgInfo.org_name
        FROM user_info userInfo
        LEFT JOIN org_info orgInfo ON orgInfo.id = userInfo.org_id
        <where>
            <if test="userId != null">
                userInfo.id = #{userId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <select id="selectOrgList" resultType="com.runjian.auth.server.domain.entity.OrgInfo">
        WITH RECURSIVE org_path AS (
            SELECT org.id, org.org_pid, org.org_name
            FROM org_info org
            WHERE org.delete_flag = 0 AND org.id IN
            <foreach collection="orgIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id,jdbcType=BIGINT}
            </foreach>
            UNION ALL
            SELECT va.id, va.org_pid,va.org_name
            FROM org_info va
                JOIN org_path ap ON va.id = ap.org_pid
            WHERE va.delete_flag = 0
        )
        SELECT * FROM org_path ap
    </select>
</mapper>
