<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.system.SysOrgMapper">
    <select id="saveUserOrg" resultType="java.lang.Integer">
        INSERT INTO tb_sys_user_org (user_id, org_id)
        VALUES (user_id = #{userId,jdbcType=BIGINT}, org_id = #{orgId,jdbcType=BIGINT})
    </select>

    <select id="selectOrgTree" resultType="com.runjian.auth.server.entity.system.SysOrg">
        SELECT *
        FROM tb_sys_org org
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            AND (org_pids like CONCAT('%[', #{orgId,jdbcType=BIGINT}, ']%') OR id = #{orgId,jdbcType=BIGINT})
            <if test="orgName !=null and orgName != '' " >
                AND org_name like CONCAT('%', #{orgName,jdbcType=VARCHAR},'%')
            </if>
        </trim>
    </select>
</mapper>
