<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.role.SysRoleApiMapper">
    <select id="selectApiAuthByroleCodes" resultType="java.lang.String">
        SELECT
        *
        FROM tb_sys_api_info apiInfo
        LEFT JOIN tb_sys_role_api roleApi ON apiInfo.id = roleApi.role_id
        LEFT JOIN tb_sys_role_info roleInfo ON roleInfo.id = roleApi.role_id
        WHERE roleInfo.role_code IN
        <foreach collection="roleCodes" item="roleCode" open="(" separator="," close=")">
            #{roleCodes}
        </foreach>
    </select>
</mapper>
