<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.system.SysRoleInfoMapper">

    <select id="selectRoleCodeByUserId" resultType="java.lang.String">
        SELECT
            sri.role_code
        FROM
            sys_role_info sri
            LEFT JOIN sys_role_user sru ON sru.role_id = sri.id
            LEFT JOIN sys_user_info sui ON sui.id = sru.user_id
        WHERE
            sui.id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectAppByRoleCode" resultType="com.runjian.auth.server.domain.entity.AppInfo">
        SELECT sai.*
        FROM sys_app_info sai
                 LEFT JOIN sys_role_app sra ON sra.app_id = sai.id
                 LEFT JOIN sys_role_info sri ON sri.id = sra.role_id
        WHERE sri.role_code = #{roleCode}
          AND sai.delete_flag = 0
          AND sai.status = 0
    </select>

    <select id="selectMenuByRoleCode" resultType="com.runjian.auth.server.domain.entity.MenuInfo">
        SELECT
            smi.*
        FROM
            sys_menu_info smi
        LEFT JOIN sys_role_menu srm ON srm.menu_id = smi.id
        LEFT JOIN sys_role_info sri ON sri.id = srm.role_id
        WHERE
            sri.role_code = #{roleCode}
    </select>

    <select id="selectApiUrlByRoleCode" resultType="java.lang.String">
        SELECT
            sai.url
        FROM
            sys_api_info sai
            LEFT JOIN sys_role_api sra ON sra.api_id = sai.id
            LEFT JOIN sys_role_info sri ON sri.id = sra.role_id
        WHERE
            sri.role_code = #{roleCode}
    </select>

    <select id="selectApiInfoByRoleCode" resultType="com.runjian.auth.server.domain.entity.ApiInfo">
        SELECT
            sai.*
        FROM
            sys_api_info sai
            LEFT JOIN sys_role_api sra ON sra.api_id = sai.id
            LEFT JOIN sys_role_info sri ON sri.id = sra.role_id
        WHERE
            sri.role_code = #{roleCode}
    </select>

    <select id="selectOrgInfoByRoleCode" resultType="com.runjian.auth.server.domain.entity.OrgInfo">
        SELECT
            org.*
        FROM
            sys_org org
            LEFT JOIN sys_role_org sro ON sro.org_id = org.id
            LEFT JOIN sys_role_info sri ON sri.id = sro.role_id
        WHERE
            sri.role_code = #{roleCode}
    </select>

    <select id="selectVideoAreaByRoleCode" resultType="com.runjian.auth.server.domain.entity.VideoArea">
        SELECT
            area.*
        FROM
            video_area area
            LEFT JOIN role_video_area rva ON rva.area_id = area.id
            LEFT JOIN sys_role_info sri ON sri.id = rva.role_id
        WHERE
            sri.role_code = #{roleCode}
    </select>

    <select id="selectEditUserSysRoleInfoPage" resultType="com.runjian.auth.server.domain.vo.system.EditUserSysRoleInfoVO">
        SELECT sri.id,
               sri.role_name,
               sri.role_desc,
               sri.status,
               sri.created_by
        FROM sys_role_info sri
        WHERE sri.delete_flag = 0
    </select>

    <select id="MySelectPage" resultType="com.runjian.auth.server.domain.vo.system.SysRoleInfoVO">
        SELECT
            role.id,
            role.role_name,
            role.created_by,
            userInfo.user_account,
            role.created_time,
            role.updated_time,
            role.role_desc,
            role.status
        FROM
            sys_role_info role
            LEFT JOIN sys_user_info userInfo ON userInfo.id = role.created_by
        <where>
            role.delete_flag = 0
            <if test="userAccount != null and userAccount != ''">
                <bind name="pattern" value="'%' + userAccount + '%'" />
             AND userInfo.user_account LIKE #{pattern}
            </if>
            <if test="roleName != null and roleName != ''">
             AND role.role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="createdTimeEnd != null ">
             AND role.created_time &gt;= #{createdTimeStart,jdbcType=TIMESTAMP}
            </if>
            <if test="createdTimeEnd != null ">
             AND role.created_time &lt;= #{createdTimeEnd,jdbcType=TIMESTAMP}
            </if>
        </where>

    </select>

    <insert id="insertRoleApp">
        INSERT INTO sys_role_app (role_id, app_id)
        VALUES (#{roleId,jdbcType=BIGINT}, #{appId,jdbcType=BIGINT});
    </insert>

    <insert id="insertRoleMenu">
        INSERT INTO sys_role_menu (role_id, menu_id)
        VALUES (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT});
    </insert>

    <insert id="insertRoleApi">
        INSERT INTO sys_role_api (role_id, api_id)
        VALUES (#{roleId,jdbcType=BIGINT}, #{apiId,jdbcType=BIGINT});
    </insert>

    <insert id="insertRoleOrg">
        INSERT INTO sys_role_org (role_id, org_id)
        VALUES (#{roleId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT});
    </insert>

    <insert id="insertRoleArea">
        INSERT INTO role_video_area (role_id, area_id)
        VALUES (#{roleId,jdbcType=BIGINT}, #{areaId,jdbcType=BIGINT});
    </insert>

    <delete id="removeRoleApp">
        DELETE FROM sys_role_app t
        WHERE t.role_id = #{roleId,jdbcType=BIGINT}
        AND t.app_id = #{appId,jdbcType=BIGINT}
    </delete>

    <delete id="removeRoleMenu">
        DELETE FROM sys_role_menu t
        WHERE t.role_id = #{roleId,jdbcType=BIGINT}
        AND t.menu_id = #{menuId,jdbcType=BIGINT}
    </delete>

    <delete id="removeRoleApi">
        DELETE FROM sys_role_api t
        WHERE t.role_id = #{roleId,jdbcType=BIGINT}
        AND t.api_id = #{apiId,jdbcType=BIGINT}
    </delete>

    <delete id="removeRoleOrg">
        DELETE FROM sys_role_org t
        WHERE t.role_id = #{roleId,jdbcType=BIGINT}
        AND t.org_id = #{orgId,jdbcType=BIGINT}
    </delete>

    <delete id="removeRoleArea">
        DELETE FROM role_video_area t
        WHERE t.role_id = #{roleId,jdbcType=BIGINT}
        AND t.area_id = #{areaId,jdbcType=BIGINT}
    </delete>
</mapper>
