<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.role.SysRoleAppMapper">

    <select id="selectAppByRoleId" resultType="java.lang.Long">
        SELECT
            app_id
        FROM tb_role_app rp
        WHERE
            rp.role_id = #{roleId,jdbcType=BIGINT}
    </select>
</mapper>
