<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.system.SysRoleInfoMapper">

    <select id="selectRoleByUserId" resultType="java.lang.String">
        SELECT
            sri.role_code
        FROM
            sys_role_info sri
            LEFT JOIN sys_role_user sru ON sru.role_id = sri.id
            LEFT JOIN sys_user_info sui ON sui.id = sru.user_id
        WHERE
            sui.id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="findApiByRoleCode" resultType="java.lang.String">
        SELECT
            sai.url
        FROM
            sys_api_info sai
            LEFT JOIN sys_role_api sra ON sra.api_id = sai.id
            LEFT JOIN sys_role_info sri ON sri.id = sra.role_id
        WHERE
            sri.role_code = #{roleCode}
    </select>

    <select id="findMenuByRoleCode" resultType="java.lang.String">
        SELECT
            sai.url
        FROM
            sys_api_info sai
            LEFT JOIN sys_role_api sra ON sai.id = sra.id
            LEFT JOIN sys_role_info sri ON sri.id = sra.id
        WHERE
            sri.role_code = #{roleCode}
    </select>

    <select id="findAppByRoleCode" resultType="java.lang.String">
        SELECT
        FROM sys_api_info sai
            LEFT JOIN sys_role_api sra ON sai.id = sra.id
            LEFT JOIN sys_role_info sri ON sri.id = sra.id
        WHERE sri.role_code = #{roleCode}
    </select>

    <select id="selectEditUserSysRoleInfoPage" resultType="com.runjian.auth.server.domain.vo.system.EditUserSysRoleInfoVO">
        SELECT sri.id,
               sri.role_name,
               sri.role_desc,
               sri.status,
               sri.created_by
        FROM sys_role_info sri
        WHERE sri.delete_flag = 0
    </select>
</mapper>
