<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.role.SysRoleApiMapper">
    <select id="selectApiByRoleId" resultType="java.lang.Long">
        SELECT
        api_id
        FROM tb_role_api rp
        WHERE
        ri.role_id = #{roleId,jdbcType=BIGINT}
    </select>
</mapper>
