<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.UserInfoMapper">

    <select id="MySelectPageByContain" resultType="com.runjian.auth.server.domain.vo.system.ListSysUserInfoVO">
        WITH RECURSIVE org_info_str AS (
        SELECT id, org_pid, org_name
        FROM org_info
        WHERE id = 1
        UNION ALL
        SELECT va.id, va.org_pid, CONCAT( ap.org_name, '/', va.org_name ) AS org_name
        FROM org_info va
        INNER JOIN org_info_str ap ON va.org_pid = ap.id
        )
        SELECT
        user.id,
        user.user_account,
        user.user_name,
        org.org_name,
        GROUP_CONCAT(role.role_name SEPARATOR '/') AS role_name,
        user.job_no,
        user.status,
        user.created_time,
        user.updated_time
        FROM user_info user
        LEFT JOIN org_info_str org ON org.id = user.org_id
        LEFT JOIN role_user ru ON ru.user_id = user.id
        LEFT JOIN role_info role ON role.id = ru.role_id
        <where>
            user.delete_flag = 0
            <if test="orgIds != null and orgIds.size() != 0">
                AND org.id IN
                <foreach collection="orgIds" item="orgId" open="(" close=")" separator=",">
                    #{orgId}
                </foreach>
            </if>
            <if test="page.userAccount != null and page.userAccount != ''">
                <bind name="patternUserAccount" value="'%' + page.userAccount + '%'"/>
                AND user.user_account LIKE #{patternUserAccount}
            </if>
            <if test="page.userName != null and page.userName != ''">
                <bind name="patternUserName" value="'%' + page.userName + '%'"/>
                AND user.user_name LIKE #{patternUserName}
            </if>
        </where>
        GROUP BY user.id, org.org_name,user.created_time
        ORDER BY user.created_time DESC
    </select>

    <select id="relationSysUserInfoPage" resultType="com.runjian.auth.server.domain.vo.system.RelationSysUserInfoVO">
        WITH RECURSIVE org_info_str AS (
            SELECT id, org_pid, org_name
            FROM org_info
            WHERE id = 1
            UNION ALL
            SELECT va.id, va.org_pid, CONCAT(ap.org_name,'/',va.org_name) as org_name
            FROM org_info va
                INNER JOIN org_info_str ap ON va.org_pid = ap.id
        )
        SELECT
            user.id,
            user.user_account,
            user.user_name,
            user.expiry_date_start,
            user.expiry_date_end,
            user.job_no,
            user.address,
            user.email,
            user.phone,
            org.org_name,
            GROUP_CONCAT(role.role_name SEPARATOR '/') role_name,
            user.description
        FROM user_info user
            LEFT JOIN role_user ru ON ru.user_id = user.id
            LEFT JOIN role_info role ON role.id = ru.role_id
            LEFT JOIN org_info_str org ON org.id = user.org_id
        WHERE user.delete_flag = 0
            <if test="userAccount != null and userAccount != ''">
                <bind name="patternAccount" value="'%' + userAccount + '%'"/>
                AND user.user_account LIKE #{patternAccount}
            </if>
        GROUP BY user.id, org.org_name
        ORDER BY user.id
    </select>

    <select id="selectRelationSysUserInfoById"
            resultType="com.runjian.auth.server.domain.vo.system.RelationSysUserInfoVO">
        WITH RECURSIVE org_info_str AS (
        SELECT id, org_pid, org_name
        FROM org_info
        WHERE id = 1
        UNION ALL
        SELECT va.id, va.org_pid, CONCAT(ap.org_name,'/',va.org_name) as org_name
        FROM org_info va
        INNER JOIN org_info_str ap ON va.org_pid = ap.id
        )
        SELECT
        user.id,
        user.user_account,
        user.user_name,
        user.expiry_date_start,
        user.expiry_date_end,
        user.job_no,
        user.address,
        user.email,
        user.phone,
        org.org_name,
        GROUP_CONCAT(role.role_name SEPARATOR '/') role_name,
        user.description
        FROM user_info user
        LEFT JOIN role_user ru ON ru.user_id = user.id
        LEFT JOIN role_info role ON role.id = ru.role_id
        LEFT JOIN org_info_str org ON org.id = user.org_id
        <where>
            <if test="userId != null">
                user.id = #{userId,jdbcType=BIGINT}
            </if>
        </where>
        GROUP BY user.id
    </select>

    <select id="selectUserIdListByRoleId" resultType="java.lang.Long">
        SELECT ru.user_id userId
        FROM role_user ru
        <where>
            <if test="roleId != null">
                ru.role_id = #{roleId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

</mapper>
