<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.auth.server.mapper.VideoAraeMapper">
    <select id="mySelectById" resultType="com.runjian.auth.server.domain.vo.system.VideoAreaVO">
        WITH RECURSIVE area_path AS (
            SELECT id, area_pid, area_name
            FROM video_area
            WHERE id = 1
            UNION ALL
            SELECT va.id, va.area_pid, CONCAT(ap.area_name,'/',va.area_name) as area_name
            FROM video_area va
                INNER JOIN area_path ap ON va.area_pid = ap.id
        )
        SELECT ap.area_name as area_names , va.*
        FROM area_path ap
            JOIN video_area va ON ap.id = va.id
        WHERE va.id = #{id,jdbcType=BIGINT};
    </select>

    <select id="mySelectListById" resultType="com.runjian.auth.server.domain.vo.system.VideoAreaVO">
        WITH RECURSIVE area_path AS (
            SELECT id, area_pid, area_name
            FROM video_area
            WHERE id = #{areaId,jdbcType=BIGINT}
            UNION ALL
            SELECT va.id, va.area_pid, CONCAT(ap.area_name,'/',va.area_name) as area_name
            FROM video_area va
                INNER JOIN area_path ap ON va.area_pid = ap.id
        )
        SELECT ap.area_name as area_names , va.*
        FROM area_path ap
            JOIN video_area va ON ap.id = va.id
        WHERE va.delete_flag = 0
        ;
    </select>

    <select id="selectVideoAreaByRoleCode" resultType="com.runjian.auth.server.domain.entity.VideoArea">
        SELECT area.*
        FROM video_area area
            LEFT JOIN role_area rva ON rva.area_id = area.id
            LEFT JOIN role_info sri ON sri.id = rva.role_id
        WHERE sri.role_code = #{roleCode}
    </select>

    <select id="selectAreaIdListByRoleId" resultType="java.lang.Long">
        SELECT area_id
        FROM role_area
        WHERE role_area.role_id = #{roleId,jdbcType=BIGINT}
    </select>
</mapper>
