<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runjian.device.expansion.mapper.DeviceChannelExpansionMapper">


    <select id="listPage" resultType="com.runjian.device.expansion.vo.response.DeviceChannelExpansionResp">
        	SELECT
			t1.*,
			t2.name as device_name
	FROM
			`rundo_device_channel_expansion` t1
	left join
			rundo_device_expansion t2 on t1.device_expansion_id=t2.id
	WHERE
			t1.deleted = 0 and t1.id in
			<foreach collection="idList" item="id" index="index" open="(" close=")" separator=",">
				#{id}
			</foreach>

			<if test="deviceChannelExpansionListReq.name != null and deviceChannelExpansionListReq.name !=''">
				and t1.channel_name like concat('%',#{deviceChannelExpansionListReq.name},'%')
			</if>
			<if test="deviceChannelExpansionListReq.ip != null and deviceChannelExpansionListReq.ip !=''">
				and t1.ip like concat('%',#{deviceChannelExpansionListReq.ip},'%')
			</if>
			<if test="deviceChannelExpansionListReq.ptzType != null">
				and t1.ptz_type = #{deviceChannelExpansionListReq.ptzType}
			</if>
			<if test="deviceChannelExpansionListReq.onlineState != null">
				and t1.online_state = #{deviceChannelExpansionListReq.onlineState}
			</if>

			order by t1.created_at,t1.online_state Desc



    </select>

	<select id="listAlarmPage" resultType="com.runjian.device.expansion.vo.response.GetAlarmSchemeChannelRsp">
		SELECT
		t1.id AS channelId,
		t1.channel_name,
		t1.online_state,
		t2.id AS deviceId,
		t2.name as device_name
		FROM
		`rundo_device_channel_expansion` t1
		left join
		rundo_device_expansion t2 on t1.device_expansion_id=t2.id
		WHERE
		t1.deleted = 0 and t1.id in
		<foreach collection="idList" item="id" index="index" open="(" close=")" separator=",">
			#{id}
		</foreach>

		<if test="channelName != null and channelName !=''">
			and t1.channel_name like concat('%',#{channelName},'%')
		</if>
		<if test="deviceName != null and deviceName !=''">
			and t2.name like concat('%',#{deviceName},'%')
		</if>
		<if test="onlineState != null">
			and t1.online_state = #{onlineState}
		</if>
		<if test="priorityChannelIds != null">
			order by
			case when t1.id IN
			<foreach collection="priorityChannelIds" item="id" index="index" open="(" close=")" separator=",">
				#{id}
			</foreach>
			then 0 else 1 end,
			t1.online_state
			desc
		</if>
		<if test="priorityChannelIds = null">
			order by t1.online_state Desc
		</if>

	</select>

	<select id="listAlarmList" resultType="com.runjian.device.expansion.vo.response.GetAlarmDeviceChannelRsp">
		SELECT
		t1.*,
		t2.name as device_name
		FROM
		`rundo_device_channel_expansion` t1
		left join
		rundo_device_expansion t2 on t1.device_expansion_id=t2.id
		WHERE
		t1.deleted = 0 and t1.id in
		<foreach collection="idList" item="id" index="index" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</select>
</mapper>
